.section_hero {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.section_hero__model-viewer {
  width: 500px;
  height: 500px;
  z-index: 999;
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}

.section_hero__title {
  color: var(--text);
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
}

.section_hero__accent {
  color: var(--button-hover);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
